.todos-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0px;

}

.todo-container {
    width: 60%;
    height: auto;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 20px 0px;
}

.todo {
    width: 100%;
}

.checkbox {
    position: absolute;
    bottom: 20px;
    right: 70px;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.edit-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
}

@media only screen and (max-width:600px) {

    .todo-container {
        width: 80%;
    }

    .todo p {
        margin-bottom: 40px;
    }
}